/* import */
@import "./modules/fonts";
@import "./modules/variables";
@import "./modules/mixins";
@import "./partials/normalize";

/* general */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.25%;
}

body {
  height: 100%;
  background-color: $blackColor95;
  position: relative;
  z-index: 0;
  @include flex(column, space-between, space-between);
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;

  @media screen and (min-width: $laptopWidth) {
    &::after {
      content: "";
      width: 50%;
      height: 100%;
      background-color: $blackColor100;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.wrapper {
  color: $whiteColor;
  font-size: 1.8rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;

  &--large {
    max-width: 1640px;
    padding: 0 20px;

    @media screen and (min-width: $laptopWidth) {
      padding: 0 40px;
    }

    @media screen and (min-width: $tvWidth) {
      padding: 0 80px;
    }
  }

  &--small {
    max-width: 1544px;
    padding: 0 32px;

    @media screen and (min-width: $laptopWidth) {
      padding: 0 64px;
    }

    @media screen and (min-width: $tvWidth) {
      padding: 0 128px;
    }
  }
}

.header,
.footer {
  padding: 24px 0;
  text-align: center;

  @media screen and (min-width: $laptopWidth) {
    text-align: left;
  }

  @media screen and (min-width: $tvWidth) {
    padding: 48px 0;
  }
}

.logo {
  margin: 0;
  font-size: 2.4rem;
  position: relative;

  &::before {
    content: "";
    width: 90px;
    height: 4px;
    border-radius: 5px;
    @include gradient();
    position: absolute;
    bottom: 1.5px;
    left: calc(50% - 41.5px);
    z-index: -1;
  }

  @media screen and (min-width: $laptopWidth) {
    &::before {
      left: 1.5px;
    }
  }
}

.main__wrapper {
  @include flex(row, center, center);

  @media screen and (min-width: $laptopWidth) {
    @include flex(row, center, space-between);
  }
}

.container {
  @include flex(row, center, center);

  @media screen and (min-width: $laptopWidth) {
    width: 50%;
  }
}

.list {
  list-style: none;
  padding: 0;
}

.list__item {
  margin-bottom: 24px;

  &:last-of-type {
    margin: 0;
  }
}

.list__link {
  display: block;
  width: 300px;
  padding: 12px;
  border: 4px solid $whiteColor;
  border-radius: 5px;
  text-align: center;
  color: $whiteColor;
  text-decoration: none;
  @include flex(row, center, center);

  img {
    margin-right: 16px;
  }

  &:hover,
  &:focus {
    border-color: transparent;
    background: -webkit-gradient(linear, left top, left bottom, from($blackColor95), to($blackColor95)) padding-box,
    -webkit-gradient(linear, left top, right top, from($blueColor), to($greenColor)) border-box;
    background: -o-linear-gradient($blackColor95, $blackColor95) padding-box,
    -o-linear-gradient(left, $blueColor, $greenColor) border-box;
    background: linear-gradient($blackColor95, $blackColor95) padding-box,
    linear-gradient(to right, $blueColor, $greenColor) border-box;
  }

  @media screen and (min-width: $laptopWidth) {
    width: 320px;
  }
}

.blob {
  display: none;
  padding: 0 78px;
  position: relative;
  max-width: 612px;
  
  @media screen and (min-width: $laptopWidth) {
    display: block;
  }
}

.blob-img {
  width: 500px;
  height: 500px;
}

.blob-btn {
  width: 48px;
  height: 48px;
  border: 4px solid $grayColor;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  bottom: 24px;
  right: 48px;
  @include flex(row, center, center);

  img {
    height: 24px;
  }

  &:hover,
  &:focus {
    border-color: transparent;
    background: -webkit-gradient(linear, left top, left bottom, from($blackColor95), to($blackColor95)) padding-box,
    -webkit-gradient(linear, left top, right top, from($blueColor), to($greenColor)) border-box;
    background: -o-linear-gradient($blackColor95, $blackColor95) padding-box,
    -o-linear-gradient(left, $blueColor, $greenColor) border-box;
    background: linear-gradient($blackColor95, $blackColor95) padding-box,
    linear-gradient(to right, $blueColor, $greenColor) border-box;
  }
}

.padding-left {
  padding-left: 3.5px;
}

/* web accessibility */
.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}