// colors
$whiteColor: #fff;
$blackColor: #000;
$secondBlackColor: #050404;
$redColor: #f54336;
$secondRedColor: #FF0066;
$pinkColor: #fa057e;
$blueColor: #3cb9fc;
$secondBlueColor: #66aeac;
$greenColor: #02d796;

// width
$smallWidth: 576px;
$mediumWidth: 768px;
$largeWidth: 992px;
$hdWidth: 1280px;
$fullHdWidth: 1920px;